PLUGGY_CLIENT_ID=
PLUGGY_CLIENT_SECRET=
PLUGGY_WEBHOOK_SECRET=
SUPABASE_URL=https://lboulwrvntpocpborlst.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
APP_USER_ID=00000000-0000-0000-0000-000000000001
API_ENV=development
PLUGGY_SANDBOX=false
